p Swing City is switching to an acount per user!

a(href=edit_password_reset_url(@user.password_reset_token)) Please set your password here

p If you want to do this later, just "reset my password" when you want to regain access to the site.
